@import url("base.css");
.section{
    position: relative;
    overflow: hidden;
}
.section:first-child{
    background: url("../img/sestion1.jpg");
    background-size: cover;
    color: #fff;
}
.section:nth-child(2){
    background: url("../img/sestion2.jpg");
    background-size: cover;
}
.section:nth-child(3){
    background: url("../img/sestion3.jpg");
    background-size: cover;
}
.section:nth-child(4){
    background: url("../img/sestion4.jpg");
    background-size: cover;
}
.section1box,.section2box,.section3box,.section4box{
    width:1200px;
    height:100%;
    margin:0 auto;
    position: relative;
}
.bg1{
    width:555px;
    height:530px;
    position: absolute;
    top: 55%;
    margin-top: -265px;
    left:0;
    background: url("../img/sestion1-1.png") 50% 0;
    background-size: cover;
    transition:all 1s;
    transform: translateX(-600px);
}
.title{
    width:562px;
    height:368px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -184px;
    /*transition: all 0.7s;*/
    z-index:100;
}
.title1{
    display: block;
    width: 100%;
    height:220px;
    font-size: 110px;
    line-height:110px;
    color: #FAFAFA;
    font-weight: 900;
    font-family:inherit;
    margin-bottom: 10px;
    text-align: left;
    transition:all .7s;
    transform: translateX(600px);
}
.title2{
    display: block;
    width:100%;
    height:108px;
    font-family: 'Droid Serif', cursive;
    color: #FAFAFA;
    font-weight: 300;
    letter-spacing: .2px;
    font-size: 14px;
    line-height: 27px;
    text-align: left;
    margin-top: 50px;
    box-sizing: border-box;
    padding-left: 10px;
    transition:all 1s;
    transform: translateX(600px);
}
.active .title1{
    transition-delay: .1s;
    transform: translateX(0);
}
.active .title2{
    transition-delay: .2s;
    transform: translateX(0);
}
.title2:hover{
    animation: neon2 1.5s ease-in-out infinite alternate;
    color: #fff;
}
.active .bg1{
    transform: translateX(0);
}
@keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px  #fff,
        0 0 30px  #fff,
        0 0 40px  #FFDD1B,
        0 0 70px  #FFDD1B,
        0 0 80px  #FFDD1B,
        0 0 100px #FFDD1B,
        0 0 150px #FFDD1B;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #FFDD1B,
        0 0 35px #FFDD1B,
        0 0 40px #FFDD1B,
        0 0 50px #FFDD1B,
        0 0 75px #FFDD1B;
    }
}
.next{
    display: block;
    z-index:999;
    width:80px;
    height:80px;
    color: #fff;
    font-size: 30px;
    position: fixed;
    bottom:0;
    left:50%;
    margin-left: -50px;
    text-align: center;
    line-height:80px;
    font-family: 宋体;
    transform: rotate(90deg);
    animation: next 1.5s infinite;
}
@keyframes next {
    form{
        transform:translateY(0) rotate(90deg);
        opacity: 1;
    }
    to{
        transform:translateY(30px) rotate(90deg);
        opacity: 0;
    }
}
#fp-nav ul li{
    display: block;
    width: 14px;
    height: 14px;
    margin: 15px;
    position: relative;
}
#fp-nav ul li a{
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    background-color:#FFf;
}
#fp-nav ul li a span{
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    /* background: #999; */
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
#fp-nav ul li a.active{
    background-color: #fff;
    animation: neon3 1s ease-in-out infinite alternate;
}
#fp-nav ul li a.active span{
    background-color: #fff;
    border:none;
}
@keyframes neon3 {
    from {
        box-shadow: 0 0 10px #fff,
        0 0 2px  #fff,
        0 0 3px  #fff,
        0 0 4px  #FFDD1B,
        0 0 7px  #FFDD1B,
        0 0 8px  #FFDD1B,
        0 0 10px #FFDD1B,
        0 0 15px #FFDD1B;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 1px #fff,
        0 0 1.5px #fff,
        0 0 2.0px #FFDD1B,
        0 0 3.5px #FFDD1B,
        0 0 4px #FFDD1B,
        0 0 5.0px #FFDD1B,
        0 0 7.5px #FFDD1B;
    }
}
.slidebox{
    width:750px;
    height:636px;
    position: absolute;
    left: 0;
    top:50%;
    margin-top: -318px;
    overflow: hidden;
}
.slidebox:hover div.fp-controlArrow.fp-next{
    right:15px;
}
.slidebox:hover div.fp-controlArrow.fp-prev {
    left:15px;
}
.slide img{
    margin:0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
div.fp-controlArrow.fp-next{
    transition: all 1s;
    right:-100px;
}
div.fp-controlArrow.fp-prev{
    transition: all 1s;
    left:-100px;
}
.contentbox{
    padding-left: 15px;
    padding-right: 15px;
    width:360px;
    height:248px;
    color: #FAFAFA;
    position: absolute;
    right:20px;
    top:50%;
    margin-top: -124px;
    transition: all 1s;
    transform: scale(0);
}
.contentbox h1{
    font-size: 110px !important;
    line-height: 110px;
    font-weight: 500;
    margin-bottom: 30px;
}
.contentbox p{
    font-family: 'Droid Serif', cursive;
    color: #FAFAFA;
    font-weight: 300;
    letter-spacing: .2px;
    font-size: 14px;
    line-height: 27px;
    text-align: left;
    padding-left: 10px;
}
.active .contentbox{
    transform: scale(1);
}
.section3p{
    padding-left: 15px;
    padding-right: 15px;
    width:360px;
    height: 350px;
    color: #FAFAFA;
    position: absolute;
    top:50%;
    margin-top: -175px;
    transition: all 1s;
    transform: rotate(180deg) scale(1.5);
}
.active .section3p{
    transform: rotate(0) scale(1);
}
.section3p h1{
    font-size: 110px !important;
    line-height: 110px;
    font-weight: 500;
    margin-bottom: 30px;
}
.section3p p{
    font-family: 'Droid Serif', cursive;
    color: #FAFAFA;
    font-weight: 300;
    letter-spacing: .2px;
    font-size: 14px;
    line-height: 27px;
    text-align: left;
    padding-left: 10px;
}
.slidebox3{
    position: absolute;
    width:680px;
    height:350px;
    right:0;
    top:50%;
    margin-top: -175px;

}
.newslide{
    position: absolute;
    width:650px;
    height:300px;
    top:0;
    left:0;
}
.newslide li{
    width:190px;
    height:120px;
    margin-right:25px;
    margin-bottom: 45px;
    float: left;
    padding:15px;
    box-sizing: border-box;
    background-color: #fff;
    transform: scale(0);
}
.now{
    z-index: 50;
}
.now li{
    transition: .8s;
    transform: scale(1);
}
.slidebox3bot{
    width:240px;
    height:12px;
    position: absolute;
    bottom:0;
    left:0;
    display: flex;
    justify-content: space-between;
}
.slidebox3bot p{
    font-size: 12px;
    color: #fff;
    line-height:12px;
    height:12px;
    cursor: pointer;
}
.slidebox3bot .p1,.slidebox3bot .p6{
    font-size: 25px;
    color: #fff;
    line-height:14px;
}
.slidebox3bot .p1{
    transform: rotate(180deg);
}
.pbox{
    width:90px;
    height:12px;
    display: flex;
    justify-content: space-between;

}
.pbox:last-child{
    width:60px;
}

.imgbox{
    width:100%;
    height:100%;
    overflow: hidden;

}
.newslide li img{
    width:100%;
    transition: .5s;
}
.now li:hover img{
    transform: scale(1.2);
}
.active1:hover p{
    color: #03ACCB!important;
}
.p3:hover,.p4:hover{
    color: #03ACCB!important;
}
.active1{
    color: #03ACCB!important;
}
.section4img{
    width:585px;
    height:390px;
    position: absolute;
    right:0;
    top:50%;
    margin-top: -185px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.section4img img{
    width:100%;
}
.left{
    width: 585px;
    height:300px;
    position: absolute;
    bottom:50%;
    margin-bottom: -150px;
    overflow: hidden;
}
.lefttitle{
    width:100%;
    height:50px;
}
.lefttitle1,.lefttitle2{
    color: #fff;
    float: left;
    font-size: 16px;
    cursor: pointer;
}
.lefttitle2{
    margin-left: 30px;
}
.content{
    padding-top: 30px;
    border-top: 2px solid #fff;
    position: absolute;
    width:100%;
    /*display: none;*/
    opacity: 0;
    left:-600px;
    /*transform: translateX(-600px);*/
}
.content1{
    color: #FAFAFA !important;
    font-family: 'Droid Serif';
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    letter-spacing: .15px;
}
.row{
    width:410px;
    margin-top: 40px;
}
.row li{
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height:28px;
    color: #fff;
    letter-spacing: 0.3px;
    font-weight: 600;
}
.row li i{
    margin-right: 10px;
}
.white{
    color: white;
    font-weight: bold;
}
.newcontent{
    position: absolute;
    width:100%;
    padding-top: 30px;
    border-top: 2px solid #fff;
    /*display: none;*/
    left:-600px;
    opacity: 0;
}
input{
    background: rgba(0,0,0,0.2);
    border:none;
    outline:none;
    color: #fff;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .2px;
    height:40px;
    box-sizing: border-box;
}
#name{
    width:271px;
}
#email{
    display: block;
    width:271px;
    float: right;
}
#message{
    margin-top: 20px;
    background: rgba(0,0,0,0.2);
    border:none;
    outline:none;
    color: #fff;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .2px;
    height:54px;
    width:100%;
    box-sizing: border-box;
    resize:none;
}
#submit{
    padding: 7px 15px 7px 15px;
    background: #666;
    color: #fff;
    border:none;
    outline:none;
    margin-top: 30px;
    transition: .2s;
}
#submit:hover{
    background: #333;
}
.left .show{
    display: block;
    left: 0;
    opacity: 1;
    transition: .5s;
}
